<template name="adminDashboard">
  <h4 class="breadcrumbs"><a href="/dashboard">Dashboard</a></h4>
  <div class="row">
    <div class="col-md-6">
      <h2 class="m-t-0 m-b-0">Dashboard</h2>
    </div>
    <div class="col-md-6 text-right">
      <span class="m-r-10">Fecha:</span>
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="#" class="btn btn-default change_period btn-primary" data-value="today">Hoy</a>
        <a href="#" class="btn btn-default change_period" data-value="yesterday">Ayer</a>
        <a href="#" class="btn btn-default change_period" data-value="last_7_days">Últimos 7 Días</a>
        <a href="#" class="btn btn-default change_period" data-value="last_30_days">Últimos 30 Días</a>
      </div>
    </div>
  </div>

  <hr class=""/>

  <div class="row m-t-30">
    <div class="col-md-3">
      <h4 class="m-t-20 ">Clientes Smartlist (totales)</h4>
      <hr class="m-t-0"/>
      <div class="text-center">
        <h1 class="m-0">{{countUsers}}</h1>
        <p class="m-0 text-muted">Clientes</p>
      </div>
    </div>
    <div class="col-md-9">
      <h4 class="m-t-20 ">Uso Global de Smartlist</h4>
      <hr class="m-t-0"/>
      <div class="row m-t-30">
        <div class="col-md-3 text-center">
          <h1 class="m-0">{{countMemberUsers}}</h1>
          <p class="m-0 text-muted">Usuarios</p>
        </div>
        <div class="col-md-3 text-center">
          <h1 class="m-0">{{countMemberEvents "list" "total"}}</h1>
          <p class="m-0 text-muted">Mirar Categoría</p>
        </div>
        <div class="col-md-3 text-center">
          <h1 class="m-0">{{countMemberEvents "view" "total"}}</h1>
          <p class="m-0 text-muted">Items Vistos</p>
        </div>
        <div class="col-md-3 text-center">
          <h1 class="m-0">{{countMemberEvents "add" "total"}}</h1>
          <p class="m-0 text-muted">Items Añadidos</p>
        </div>
      </div>
    </div>

  </div>

  <h4 class="m-t-40 ">Resumen de Mejoras</h4>
  <hr class="m-t-0"/>
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="p-10">
        <h4>Visitas a Categoría</h4>
        <h1>{{{averageDifferenceMemberEvents "list"}}}</h1>
        <p class="small text-muted">
          Media de Visitas a categorías<br/>
          Con Person.: {{averageMemberEvents "list" "y"}} , Sin Person.: {{averageMemberEvents "list" "n"}}
        </p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="p-10">
        <h4>Items Vistos</h4>
        <h1>{{{averageDifferenceMemberEvents "view"}}}</h1>
        <p class="small text-muted">
          Media de Visitas a categorías<br/>
          Con Person.: {{averageMemberEvents "view" "y"}} , Sin Person.: {{averageMemberEvents "view" "n"}}
        </p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="p-10">
        <h4>Items Añadidos</h4>
        <h1>{{{averageDifferenceMemberEvents "add"}}}</h1>
        <p class="small text-muted">
          Media de Visitas a categorías<br/>
          Con Person.: {{averageMemberEvents "add" "y"}} , Sin Person.: {{averageMemberEvents "add" "n"}}
        </p>
      </div>
    </div>
  </div>

</template>
