<template name="install">
  <h3 class="breadcrumbs"><a href="/dashboard">Instalación</a></h3>
  <h4>¿Cómo se instala Smartlist?</h4>
  <p>Smartlist se instala en tu e-commerce mediante un módulo, una vez instalado el accede a la configuración e introduce tu apiKey.</p>
  <h5><b>apikey:</b> {{apikey}}</h5>
  <div class="row m-t-40">
    <div class="col-md-10 text-center col-md-offset-1">
      <h3>Selecciona tu e-commerce</h3>
      <p class="m-b-40">Escoge entre las principales plataformas la tuya y descargate el módulo</p>
      <div class="row">
        <div class="col-md-3 text-center">
          <img width="50%" src="/assets/img/magento_icon.png"/>
          <h4>Magento</h4>
          <p>Versión 1.8 y superior</p>
          <a href="#" class="btn btn-block btn-default">Pronto Disponible</a>
        </div>
        <div class="col-md-3 text-center">
          <img width="50%" src="/assets/img/wordpress_icon.png"/>
          <h4>Woo Commerce</h4>
          <p>Wordpress a partir de 4.5</p>
          <a href="#" class="btn btn-block btn-default">Pronto Disponible</a>
        </div>
        <div class="col-md-3 text-center">
          <img width="50%" src="/assets/img/prestashop_icon.png"/>
          <h4>Prestashop</h4>
          <p>Versión 1.6 y superior</p>
          <a href="/plugins/prestashop_1.2.1_converfitlist.zip" class="btn btn-block btn-primary">Descargar 1.2.1</a>
        </div>
        <div class="col-md-3 text-center">
          <img width="50%" src="/assets/img/shopify_icon.png"/>
          <h4>Shopify</h4>
          <p>Versión actual</p>
          <a href="#" class="btn btn-block btn-default">Pronto Disponible</a>
        </div>
      </div>
    </div>
  </div>

</template>
