<template name="settings">
  <h3 class="breadcrumbs"><a href="/dashboard">Configurar IA</a></h3>
  <!--
    <h4>Configuración de tu IA</h4>
    <p>En esta sección puedes configurar todos los aspectos relativos a tu IA</p>
  -->
  <div class="text-center m-t-50">
    <h1 class="glyphicon glyphicon-remove"></h1>
    <h4>Atención es necesario instalar el módulo para configurar tu IA</h4>
    <p>Sin realizar la instalación es imposible configurar tu Intelifencia Artificial</p>
    <a href="/install" class="btn btn-primary">Ir a la instalación</a>
  </div>
</template>
